app_name: "gekko-dev"
http_port: 3000

google_id: "client_id"
google_secret: "client_secret"
google_callback: "http://sample.com/login/google/callback"

dropbox_id: "client_id"
dropbox_secret: "client_secret"
dropbox_callback: "http://sample.com/login/dropbox/callback"
