app_name: "gekko-env"
http_port: 3000
database: "database/gekko.db"

google_id: "client_id"
google_secret: "client_secret"
google_callback: "callback_url"

dropbox_id: "client_id"
dropbox_secret: "client_secret"
dropbox_callback: "callback_url"
